In [1]:
import pandas as pd

df=pd.read_csv('C:/Users/MV_pe/OneDrive/Documents/Ynov/B3_(2025-2026)/Analyse et Exploration de Données/Projet/WaterAnalysis/data/1-raw/Daily_Water_Intake.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      30000 non-null  int64
 1   Gender                   30000 non-null  object
 2   Weight                   30000 non-null  int64
 3   Daily Water Intake       30000 non-null  float64
 4   Physical Activity Level  30000 non-null  object
 5   Weather                  30000 non-null  object
 6   Hydration Level          30000 non-null  object
dtypes: float64(1), int64(2), object(4)
memory usage: 1.6+ MB

In [2]:
# On supprime les doublons
df_net=df.drop_duplicates()
df_net.info()

<class 'pandas.core.frame.DataFrame'>
Index: 29662 entries, 0 to 29999
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      29662 non-null  int64
 1   Gender                   29662 non-null  object
 2   Weight                   29662 non-null  int64
 3   Daily Water Intake       29662 non-null  float64
 4   Physical Activity Level  29662 non-null  object
 5   Weather                  29662 non-null  object
 6   Hydration Level          29662 non-null  object
dtypes: float64(1), int64(2), object(4)
memory usage: 1.8+ MB

In [3]:
# On vérifie la présence de valeurs Null
df_net.isnull().sum()

Age                        0
Gender                     0
Weight                     0
Daily Water Intake         0
Physical Activity Level    0
Weather                    0
Hydration Level            0
dtype: int64

In [4]:
# On enregistre le fichier nettoyé
df.to_csv("../data/2_cleaned/water_intake_cleaned.csv")