In [ ]:
import pandas as pd

path = "../data/1-raw/Daily_Water_Intake.csv"
df = pd.read_csv(path)
df.drop_duplicates()
df.describe()

                Age       Weight  Daily Water Intake
count  30000.000000  30000.00000        30000.000000
mean      43.467667     76.84860            2.852444
std       14.998940     18.74494            0.835537
min       18.000000     45.00000            1.500000
25%       30.000000     61.00000            2.220000
50%       43.000000     77.00000            2.830000
75%       56.000000     93.00000            3.440000
max       69.000000    109.00000            5.430000

In [7]:

df.isna().sum()

Age                            0
Gender                         0
Weight (kg)                    0
Daily Water Intake (liters)    0
Physical Activity Level        0
Weather                        0
Hydration Level                0
dtype: int64

In [ ]:
df.to_csv("../data/2_cleaned/water_intake_cleaned.csv")